Repository pykeen/pykeen, pull requests merged in 2021-05, with the labels that each got.

#423 🪄 🎭 Update reproductions
  src/pykeen/experiments/cli.py
  src/pykeen/experiments/inverse_stability.py
  src/pykeen/experiments/validate.py
  src/pykeen/nn/emb.py
  src/pykeen/pipeline/api.py
  tests/test_nn/test_emb.py
  tox.ini
Labels: bug

#440 ⌨️🍪 Add console tracker
  README.md
  src/pykeen/trackers/__init__.py
  src/pykeen/trackers/base.py
  tests/test_trackers.py
Labels: 🐺 New Tracker

#412 🐬 🪢 Pseudo typed negative sampler
  README.md
  docs/source/conf.py
  src/pykeen/sampling/__init__.py
  src/pykeen/sampling/negative_sampler.py
  src/pykeen/sampling/pseudo_type.py
  src/pykeen/triples/analysis.py
  tests/test_sampling/test_negative_samplers.py
Labels: 🚪 New Negative Sampler

#458 ⚽ 🚇 Improve testing for training loops and negative samplers
  src/pykeen/sampling/filtering.py
  src/pykeen/sampling/negative_sampler.py
  tests/test_sampling/cases.py
  tests/test_training.py
  tests/test_training/__init__.py
  tests/test_training/cases.py
  tests/test_training/test_stopping.py
  tests/test_training/test_training_loop.py
  tests/test_training/test_utils.py
  tox.ini
Labels: ⚽ Training Loop, 🚪 New Negative Sampler

#456 🦆 🎪 Fix handling of regularizer in ablation study
  src/pykeen/ablation/ablation.py
  tests/test_ablation.py
Labels: bug, 🦆 Ablation

#462 🩹 🕶️ Fix view in NSSA Loss
  src/pykeen/training/slcwa.py
  tests/mocks.py
  tests/test_training/cases.py
  tests/test_training/test_training_loop.py
Labels: bug, 💧 New Loss

#461 🐢 📖 Update HPO docs
  src/pykeen/hpo/__init__.py
  src/pykeen/hpo/hpo.py
  src/pykeen/nn/emb.py
  src/pykeen/nn/init.py
Labels: Pipeline, documentation, 🍉 HPO, 💃 Model

#467 💃 ✘ Add CrossE interaction
  CHANGELOG.rst
  README.md
  src/pykeen/models/__init__.py
  src/pykeen/models/unimodal/__init__.py
  src/pykeen/models/unimodal/crosse.py
  src/pykeen/nn/functional.py
  src/pykeen/nn/modules.py
  tests/test_models.py
  tests/test_nn/test_modules.py
Labels: 💃 Model, 💎 New Component
