Repository pykeen/pykeen, pull requests merged in 2021-07, with the labels that each got.

#521 🔮 💃 Reimplement SE with new-style model
  README.md
  src/pykeen/models/unimodal/structured_embedding.py
  tests/test_models.py
Labels: 💃 Model

#538 TransF
  README.md
  src/pykeen/models/__init__.py
  src/pykeen/models/unimodal/__init__.py
  src/pykeen/models/unimodal/trans_f.py
  src/pykeen/nn/functional.py
  src/pykeen/nn/modules.py
  tests/test_models.py
  tests/test_nn/test_modules.py
Labels: 💃 Model, 💎 New Component

#542 👀 🩸 Add focal loss
  README.md
  docs/source/conf.py
  docs/source/references.rst
  src/pykeen/losses.py
  tests/test_losses.py
Labels: 💎 New Component, 💧 Loss

#546 🕵️ 🚩Remove user from `env()` function
  src/pykeen/version.py
Labels: meta

#551 🐺 🏆 Report success to result tracker
  src/pykeen/hpo/hpo.py
  src/pykeen/trackers/base.py
  src/pykeen/trackers/file.py
  src/pykeen/trackers/mlflow.py
  src/pykeen/trackers/tensorboard.py
  tests/test_hpo.py
Labels: 🐺 Tracker
