Repository pykeen/pykeen, pull requests merged in 2021-11, with the labels that each got.

#610 🚧🔦 Update R-GCN configuration
  src/pykeen/experiments/rgcn/schlichtkrull2018_rgcn_fb15k.yaml
  src/pykeen/experiments/rgcn/schlichtkrull2018_rgcn_fb15k237.yaml
  src/pykeen/experiments/rgcn/schlichtkrull2018_rgcn_wn18.json
  src/pykeen/experiments/rgcn/schlichtkrull2018_rgcn_wn18.yaml
  src/pykeen/models/unimodal/rgcn.py
  src/pykeen/nn/emb.py
  src/pykeen/nn/message_passing.py
  src/pykeen/training/schlichtkrull_sampler.py
  src/pykeen/training/training_loop.py
  tests/cases.py
  tests/test_models.py
  tests/test_sampling/test_graph_samplers.py
Labels: ☠️ R-GCN ☠️

#425 💠 💠 Update ConvKB to ERModel
  src/pykeen/models/unimodal/conv_kb.py
Labels: enhancement, 💃 Model

#618 💃 📦 Add BoxE
  README.md
  src/pykeen/experiments/boxe/abboud2020_boxe_fb15k237.yaml
  src/pykeen/experiments/boxe/abboud2020_boxe_wn18rr.yaml
  src/pykeen/experiments/boxe/abboud2020_boxe_yago310.yaml
  src/pykeen/models/__init__.py
  src/pykeen/models/unimodal/__init__.py
  src/pykeen/models/unimodal/boxe.py
  src/pykeen/nn/functional.py
  src/pykeen/nn/modules.py
  src/pykeen/utils.py
  tests/test_models.py
Labels: 💃 Model, 💎 New Component
