Repository pykeen/pykeen, pull requests merged in 2021-02, with the labels that each got.

#303 🧹 💽 Cleanup model/dataset documentation and testing
  README.md
  docs/source/references.rst
  setup.cfg
  src/pykeen/cli.py
  src/pykeen/datasets/base.py
  src/pykeen/datasets/ckg.py
  src/pykeen/datasets/codex.py
  src/pykeen/datasets/conceptnet.py
  src/pykeen/datasets/cskg.py
  src/pykeen/datasets/dbpedia.py
  src/pykeen/datasets/drkg.py
  src/pykeen/datasets/freebase.py
  src/pykeen/datasets/hetionet.py
  src/pykeen/datasets/kinships/__init__.py
  src/pykeen/datasets/nations/__init__.py
  src/pykeen/datasets/ogb.py
  src/pykeen/datasets/openbiolink.py
  src/pykeen/datasets/umls/__init__.py
  src/pykeen/datasets/wordnet.py
  src/pykeen/datasets/yago.py
  src/pykeen/models/base.py
  src/pykeen/models/multimodal/__init__.py
  src/pykeen/models/multimodal/complex_literal.py
  src/pykeen/models/multimodal/distmult_literal.py
  src/pykeen/models/unimodal/__init__.py
  src/pykeen/models/unimodal/complex.py
  src/pykeen/models/unimodal/conv_e.py
  src/pykeen/models/unimodal/conv_kb.py
  src/pykeen/models/unimodal/distmult.py
  src/pykeen/models/unimodal/ermlp.py
  src/pykeen/models/unimodal/ermlpe.py
  src/pykeen/models/unimodal/hole.py
  src/pykeen/models/unimodal/kg2e.py
  src/pykeen/models/unimodal/ntn.py
  src/pykeen/models/unimodal/proj_e.py
  src/pykeen/models/unimodal/rescal.py
  src/pykeen/models/unimodal/rgcn.py
  src/pykeen/models/unimodal/rotate.py
  src/pykeen/models/unimodal/simple.py
  src/pykeen/models/unimodal/structured_embedding.py
  src/pykeen/models/unimodal/trans_d.py
  src/pykeen/models/unimodal/trans_e.py
  src/pykeen/models/unimodal/trans_h.py
  src/pykeen/models/unimodal/trans_r.py
  src/pykeen/models/unimodal/tucker.py
  src/pykeen/models/unimodal/unstructured_model.py
  src/pykeen/templates/README.md
  tests/test_datasets/test_loading.py
  tests/test_models.py
Labels: documentation

#260 💃 🆕-style models
  docs/source/extending/extending_models.rst
  docs/source/extending/extending_models_new.rst
  docs/source/extending/index.rst
  src/pykeen/models/__init__.py
  src/pykeen/models/base.py
  src/pykeen/models/nbase.py
  src/pykeen/models/unimodal/unstructured_model.py
  src/pykeen/nn/emb.py
  src/pykeen/utils.py
  tests/cases.py
  tests/test_models.py
  tox.ini
Labels: enhancement

#309 👨‍❤️‍👨 🤝 Add PairRE interaction function
  README.md
  docs/source/references.rst
  src/pykeen/models/__init__.py
  src/pykeen/models/unimodal/__init__.py
  src/pykeen/models/unimodal/pair_re.py
  src/pykeen/nn/functional.py
  src/pykeen/nn/modules.py
  tests/test_models.py
  tests/test_nn/test_modules.py
Labels: New Model

#314 🗺️ 💽 Add the Countries dataset
  README.md
  setup.cfg
  src/pykeen/datasets/__init__.py
  src/pykeen/datasets/base.py
  src/pykeen/datasets/countries.py
Labels: New Dataset

#311 🐀 🤝 Add MuRE interaction function
  README.md
  docs/source/references.rst
  src/pykeen/experiments/mure/balazevic2019_mure_fb15k237.json
  src/pykeen/models/__init__.py
  src/pykeen/models/nbase.py
  src/pykeen/models/unimodal/__init__.py
  src/pykeen/models/unimodal/mure.py
  src/pykeen/nn/functional.py
  src/pykeen/nn/modules.py
  src/pykeen/utils.py
  tests/cases.py
  tests/test_models.py
  tests/test_nn/test_modules.py
Labels: New Model
