Repository pykeen/pykeen, pull requests merged in 2022-02, with the labels that each got.

#354 🥊 ☎️ Early stopping via training callback
  src/pykeen/training/callbacks.py
  src/pykeen/training/training_loop.py
  tests/test_early_stopping.py
  tests/test_training/test_stopping.py
Labels: enhancement

#543 🍦 🎸 Soft inverse triples baseline
  src/pykeen/models/__init__.py
  src/pykeen/models/baseline/__init__.py
  src/pykeen/models/baseline/models.py
  src/pykeen/models/baseline/utils.py
  tests/cases.py
  tests/test_baselines.py
Labels: 💃 Model, 💎 New Component

#784 🪢🤔 Add OpenEA datasets
  README.md
  setup.cfg
  src/pykeen/datasets/__init__.py
  src/pykeen/datasets/openea.py
Labels: 💾 Dataset, 💎 New Component
